## Lab1 目標：整理各縣市鄉鎮區行政中心區碼

- 資源來源 [中華民國統計資訊網 - 行政區域及村里代碼](https://www.stat.gov.tw/ct.asp?xItem=14380&CtNode=1519&mp=4)
- 所屬縣市 + 鄉鎮區名
- 舊制區碼

In [1]:
import sys
import pandas as pd

In [2]:
infile_xlsx = './xlsx/comparison_table.xlsx'
xl = pd.ExcelFile(infile_xlsx)
xl.sheet_names

['主計總處與內政部對照表']

In [3]:
dfp = xl.parse('主計總處與內政部對照表')
dfp.head(5)

,行政院主計總處與內政部戶政司村里代碼對照表,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,106.01.31
1,行政院主計總處,NaN,NaN,NaN,NaN,NaN,內政部戶役政資訊系統
2,縣市代碼,縣市名稱,區里代碼,區鄉鎮名稱,村里代碼,村里名稱,村里代碼
3,63,台北市,6300100,松山區,6300100-002,莊敬里,63000010002
4,63,台北市,6300100,松山區,6300100-003,東榮里,63000010003

In [33]:
import copy
header = dfp.iloc[2]
dfc = dfp[3:].copy().copy()
dfc = dfc.rename(columns = header)
dfc.head(5)

  縣市代碼 縣市名稱     區里代碼 區鄉鎮名稱         村里代碼 村里名稱         村里代碼
3   63  台北市  6300100   松山區  6300100-002  莊敬里  63000010002
4   63  台北市  6300100   松山區  6300100-003  東榮里  63000010003
5   63  台北市  6300100   松山區  6300100-004  三民里  63000010004
6   63  台北市  6300100   松山區  6300100-005  新益里  63000010005
7   63  台北市  6300100   松山區  6300100-006  富錦里  63000010006

In [34]:
import re
dfd = dfc[['縣市名稱', '區鄉鎮名稱', '區里代碼']].drop_duplicates()
dfd['區里代碼'] = dfd['區里代碼'].apply(lambda x: int(re.findall('\d+', str(x))[0]))
## dfc 裡有些區里代碼有亂碼，透過 regular expression 清乾淨再轉回 int
dfd = dfd.reset_index(drop=True)
df = dfd.copy().copy()
df.head(5)

  縣市名稱 區鄉鎮名稱     區里代碼
0  台北市   松山區  6300100
1  台北市   信義區  6300200
2  台北市   大安區  6300300
3  台北市   中山區  6300400
4  台北市   中正區  6300500

In [35]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1] # 等價 cols[2:] + cols[:2]
df = df[cols]
df.columns = ['sid', 'city', 'district']
df.head(5)

       sid city district
0  6300100  台北市      松山區
1  6300200  台北市      信義區
2  6300300  台北市      大安區
3  6300400  台北市      中山區
4  6300500  台北市      中正區

### Save csv

In [36]:
outfile_csv = './csv/district_code.csv'
df.to_csv(outfile_csv, sep=',', encoding='utf-8', index=False)